@import '~styles/constants';

.select {
  border: 1px solid $pink;
  position: relative;

  &::before {
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    border-top: 5px solid $pink;
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .styled-select {
    padding: 1.25px 20px 1.25px 5px;
    position: relative;
  }
}
