@import '~styles/constants';

.sub-menu-list {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #ccc;
  height: 100%;
  padding: 5px 0;

  .item {
    position: relative;

    .term {
      align-items: center;
      cursor: default;
      display: flex;
      line-height: 22.5px;
      padding: 0 20px;
      white-space: nowrap;
    }

    .description {
      display: none;
      position: absolute;
      top: 100%;
    }

    &:hover {
      .term {
        background-color: $pink;
        color: $white;
      }

      .description {
        display: block;
      }
    }
  }
}
