.checkbox-input-label
  display: flex

  .label
    margin-right: 2.5px
    white-space: nowrap

  .styled-checkbox
    align-items: center
    border: #d22f7d 1px solid
    display: flex
    height: 15px
    justify-content: center
    width: 15px

    &.checked::before
      color: #d22f7d
      content: '\2713'
      display: block
