@import '~styles/constants';

.checkbox-input-label {
  display: flex;

  .label {
    margin-right: 2.5px;
    white-space: nowrap;
  }

  .styled-checkbox {
    border: 1px solid $pink;
    height: 15px;
    width: 15px;

    &.checked::before {
      color: $pink;
      content: '\2713';
      display: block;
      padding-left: 1px;
    }
  }
}
